<h1><%= @city.name %></h1>

<div class="row">
  <div class="col-4">
    <h2>Restaurants</h2>

    <% @restaurants.each do |restaurant| %>
      <h3><%= link_to restaurant.name, restaurant %></h3>
    <% end %>
  </div>

  <div class="col-4">
    <h2>Hotels</h2>

    <% @hotels.each do |hotel| %>
      <h3><%= hotel.name %></h3>
    <% end %>
  </div>

  <div class="col-4">
    <h2>Bars</h2>

    <% @clubs.each do |club| %>
      <h3><%= club.name %></h3>
    <% end %>
  </div>
</div>